attrs==17.4.0
bleach==2.1.2
click==6.7
enum34==1.1.6
html5lib==1.0.1
Markdown==2.6.11
nltk==3.2.5
numpy==1.14.0
pluggy==0.6.0
protobuf==3.5.1
py==1.5.2
pytest==3.3.2
six==1.11.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0
webencodings==0.5.1
Werkzeug==0.14.1
